$violet: hsl(257, 40%, 49%); 
$soft__magenta: hsl(300, 69%, 71%); 

$font__weights: (
    "regular": 400, 
    "bold": 600
); 

$open__sans: 'Open Sans', sans-serif;
$poppins: 'Poppins', sans-serif;

$out: 1px solid white; 